@mixin circle($size) {
    height: $size;
    width: $size;
    border-radius: 50%;
}

@mixin icon($color) {
    height: 100%;
    width: 100%;
    fill: $color;
    stroke: $color;
}

@mixin centerAbsoluteElement() {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}