@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $global-font-size;
  scroll-behavior: smooth;
}

body {
  font-size: $font-size;
  line-height: $line-height;
  max-width: $body-max-width;
  margin: auto;

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: #49484873;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}