@import 'variables';
@import 'mixins';

.footerContainer {
    background: linear-gradient(to bottom, var(--background-color) 50%, var(--primary-color) 50%);
}

.contactContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
    background-color: var(--background-color-dark);
    border-radius: $border-radius;
    padding: 6rem 12rem;
    margin: 6rem 12rem;
    transform: translate(0, 20%);
    transition: 0.6s transform ease;

    &>div {
        width: 75%;
        margin: auto;
    }

    @media screen and (max-width: 1200px) {
        padding: 4rem;
    }

    @media screen and (max-width: $tab-screen-max-width) {
        flex-direction: column;
        margin: 3.2rem 6.4rem;

        &>div {
            width: 100%;
        }
    }

    @media screen and (max-width: $mobile-screen-max-width) {
        margin: 1.6rem 3.2rem;
        padding: 2rem;
    }

    .contactInfoContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;

        .iconContainer {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1.2rem;
            word-break: break-all;

            &>svg {
                @include icon(var(--text-primary-color));
                height: 2rem;
                width: 2rem;
            }
        }

        &>div:last-child {
            margin-top: 1.2rem;
        }
    }

    .formContainer {
        .form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 1.6rem;
            margin-top: 1.6rem;

            .inputContainer {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 0.8rem;
                width: 100%;

                &>input,
                textarea {
                    border: 2px solid var(--border-color);
                    border-radius: $border-radius;
                    padding: $padding-8 $padding-16;
                    width: 100%;
                    resize: vertical;
                    overflow: hidden;
                    font-family: inherit;
                    font-size: 1.6rem;
                    background-color: var(--background-color-dark);
                    color: var(--text-secondary-color);
                    min-height: 4rem;
                }

                &>input:focus,
                textarea:focus {
                    border-color: var(--text-secondary-color);
                }
            }

            .formBtnContainer {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1.2rem;
                margin-top: 0.8rem;
                flex-wrap: wrap;
            }
        }
    }
}

.showContactContainer {
    transform: translate(0, 0);
}

.copyrightText {
    margin-bottom: 2.4rem;
    text-align: center;
}